#tasks-container, #main-form {
  width: 60%;
  margin: 0 auto;
}
#main-form .row {
  margin-bottom: 0;
}
#tasks-container {
  margin-bottom: 100px;
}
.brand-logo {
  margin-left: 30px;
}

button.delete-task {
  background-color: transparent;
  border: none;
  display: inline;
  cursor: pointer;
}
button.delete-task:hover {
  color: black;
}
button.delete-task i {
  z-index: -1;
}
button.submit {
  color:white;
  margin: 24px 0;
}
.filters {

  display: flex;
  /* justify-content: flex-start; */
}
.filter {
  margin: 0 10px;
}
.task-title {
  font-weight: bold;
}
[type="checkbox"]+span:not(.lever):before
 {
  border: 2px solid #484545;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  transform: translate(-50%, 20%);
}
[type="checkbox"]:checked+span:not(.lever):before {
  border-radius: 0;
  background-color: transparent;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(40deg) translate(60%, -10%);
}
/* .collection .collection-item.avatar {
  min-height: 74px;
} */
.page-footer {
  padding-top: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
.container a.link:hover {
  color: black !important;
  text-shadow: 0px 1px 1px black;
}

@media screen and (max-width: 880px) {
  #tasks-container, #main-form {
    width: 90%;
  }
  .brand-logo {
    margin-left: 0;
  }
}